@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;

    background: rgba(45, 176, 224, 1);
    background: -moz-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(45, 176, 224, 1)), color-stop(100%, rgba(96, 40, 168, 1)));
    background: -webkit-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
    background: linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1);
}

.main {
    min-height: 75vh;
    background: #2a6bb1;
    box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
    width: 55%;
    margin: 30px auto;
}

.info {
    min-height: 25vh;
    background: url("polygon.jpg") center center no-repeat;
    background-blend-mode: multiply;
    background-color: #484747;
    border: 2px solid #1f1f1f;
    border-bottom: 2px solid #131e29;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}

.info h2 {
    font-size: 2em;
    color: #fff;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form {
    min-height: 70vh;
    padding-top: 10px;
    padding-left: 10px;
    border-left: 2px solid #113a65;
    border-bottom: 2px solid #113a65;
    border-right: 2px solid #113a65;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.weatherInfo {

    text-align: center;
    width: 63%;
    font-size: 15px;
    color: #fff;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #113a65;
    width: 60%;
    padding-bottom: 4px;
    color: #fff;
    font-weight: lighter;
    font-size: 15px;
    outline: none;

}

input::-webkit-input-placeholder {
    color: #103a65;
}

input::-moz-placeholder {
    color: #103a65;
}

button {
    border: 1px solid #103a65;
    border-bottom: 2px solid #103a65;
    padding: 4px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #235d9c;
    color: #fff;
    outline: none !important;
}

button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 2px;
}

button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px;
}

.info p {
    color: #e4e4e4;
    font-weight: bold;
}

.error {
    color: #041f3c;
    font-weight: bold;
}

@media (min-width: 768px) {
    .main
    {
        margin-top: 80px;
    }
    .info h2 {
        font-size: 2.5em;
    }

    .weatherInfo {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 20px;
    }

    button {
        border: 2px solid #103a65;
        border-bottom: 4px solid #103a65;
        padding: 8px 20px;
        margin: 20px 2px;
    }
}

@media (min-width: 992px) {
    .main {
        margin-top: 100px;
        min-height: 55vh;
    }

    .form {
        min-height: 55vh;
        padding-top: 50px;
        padding-left: 10px;
        border-top: 2px solid #113a65;
        border-left: 0;
    }

    .info {
        min-height: 55vh;
        border: 2px solid #1f1f1f;
        border-right: 2px solid #131e29;
        border-bottom: 0;
    }
}

